
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @*<h2></h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Product's Detail </li>
                    </ul>*@
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Detail  -->
<div class="shop-detail-box-main">
    <div class="container">
        <div class="text-center">
            <h1><strong>Thank You.</strong></h1>
            <h3><strong>Your order is placed successfully.</strong><i class="check-mark"></i></h3>
            <a class="hvr-hover" href="@Url.Action("Index","Home")">Continue Shopping...</a>
        </div>
    </div>
</div>